Pregunta1/ConsumeWebService/Service References/ServiceReference1/webServiceJAVA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webserviceconbd.mycompany.com/" targetNamespace="http://webserviceconbd.mycompany.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="retornaUsuario" type="tns:retornaUsuario" />
  <xs:element name="retornaUsuarioResponse" type="tns:retornaUsuarioResponse" />
  <xs:complexType name="retornaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="retornaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>